html, body {
    padding: 0;
    margin: 0;
}

/* DESKTOP VIEW */

body {
    
position: relative;
width: 100vw;
height: 4028px;
background: #FFFFFF;
}
header {
  box-sizing: border-box;
width: 100vw;
height: 665px;
left: 0px;
top: 0px;
background: #F4F6F9;
}  
.back-header {
 position: absolute;
width: 100vw;
height: 665px;
left: 0px;
top: 0px;
background: #F4F6F9;
}   
.imghd {
  
position: absolute;
width: 993px;
height: 668px;
right: 0px;
top: 0px;

}

.logo {
    position: absolute;
width: 99px;
height: 32px;
left: 11.32vw;
top: 63px;
}
.txt h1 {
    position: absolute;
    top: 226px;
    left: 11.32vw;
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 2.25rem;
line-height: 3rem;
display: flex;
align-items: flex-end;
letter-spacing: 0.03em;
color: #333333;
}
.txt p {
    position: absolute;
    top: 352px;
    left: 11.32vw;
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1.125rem;
line-height: 26px;
color: #4F4F4F;
}
.apphd {
position: absolute;
width: 10.84vw;
height: 47px;
left: 11.32vw;
top: 454px;
background: #000000;
border-radius: 7.33503px;    
}
.playhd {
    position: absolute;
 width: 10.84vw;
height: 47px;
left: 24.65vw;
top: 454px;
background: #000000;
border-radius: 7.33503px;  
}
.block1 {
    position: absolute;
width: 100vw;
height: 592px;
left: 0px;
top: 665px;
background: #FFFFFF;
}
.bl1img {
    
position: absolute;
width: 805px;
height: 592px;
left: 0px;
top: 0px;
background-image: url(./img/block1.png);
z-index: 0;}
.bl1img::after {
    content: "";
    position: absolute;
    width: 805px;
height: 592px;
left: 0px;
top: 0px;
background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
z-index: 1;
}
#arsenal {
    position: absolute;
width: 360px;
height: 218px;
left: 11.32vw;
top: 109px;
box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
border-radius: 4px;
z-index: 3;
}
#match {
    
position: absolute;
width: 360px;
height: 218px;
left: 18.68vw;
top: 296px;
border-radius: 4px;
z-index: 2;
}
.block1 span {
    position: absolute;
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 21px;
color: #00ADEE;
top: 133px;
left: 55.35vw;}
.block1 h2 {
    position: absolute;
    width: 29.6vw;
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1.75rem;
line-height: 37px;
top: 182px;
left: 55.35vw;
color: #333333;
}
.block1 p {
    
position: absolute;
width: 28.26vw;
height: 185px;
left: 55.35vw;
top: 246px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 23px;
color: #4F4F4F;
}
.block1 a {
    position: absolute;
    top: 453px;
    left: 55.35vw;
    
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 21px;
text-decoration: none;
color: #00ADEE;
}
.block2 {
    position: absolute;
  width: 100vw;
height: 716px;
left: 0px;
top: 1257px;
background-image: url(./img/circle.png);
background-size: cover; 
}
.block2 span {
    position: absolute;
    top: 217px;
    left: 11.25vw;
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 21px;
color: #00ADEE;}
.block2 h2 {
    position: absolute;
    top: 266px;
    left: 11.25vw;
    
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1.75rem;
line-height: 37px;
color: #333333;
}
.block2 p {
    position: absolute;
width: 33.33vw;
height: 139px;
left: 11.25vw;
top: 330px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 23px;
color: #4F4F4F;
}
.block2 a {
    position: absolute;
    top: 523px;
    left: 11.25vw;
 font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #00ADEE;
text-decoration: none;
 }  
.block3 {
    position: absolute;
width: 100vw;
height: 735px;
left: 0px;
top: 1973px;
background: #00ADEE;
display: grid;
z-index: 0;
}
.block3::after {
    content: url(./img/block3.png);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 735px;
    opacity: 0.4;
    z-index: 1;
}
.block3 h1 {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1.75rem;
line-height: 37px;
color: #FFFFFF;
z-index: 2;
display: flex;
align-items: center;
justify-content: center;
margin-top: 30px;
}
.grid {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: baseline;
    justify-content: flex-start;
     margin-top: 0px;
    margin-left: 163px;
    margin-right: 163px;
     z-index: 3;
}     
 
.grid p {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 23px;
color: #FFFFFF;
width: 311px;
}
.block4 {
    width: 100vw;
    height: 431px;
    position: absolute;
    left: 0px;
    top: 2714px;
    background: #FFFFFF;
}
.block4 h4 {
    position: absolute;
   top: 42px; 
   left: 41.25vw;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1.75rem;
line-height: 37px;
color: #333333;
}
.bl41 {
    position: absolute;
    height: 161px;
    width: 350px;
    top: 162px;
    left: 190px;
    box-sizing: border-box;
background: #FFFFFF;
border: 1px solid #828282;
border-radius: 4px;
 }  
 .bl41 img { 
    position: absolute;
    top: 15px;
    left: 17px;
 } 
 .bl41 h6 {
    position: absolute;
    top: -15px;
    left: 58px;
        font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 19px;
color: #333333;
 }  
 .bl41 svg {
    position: absolute;
    top: 24px;
    right: 13px;
 }
.bl41 p {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 0.875rem;
line-height: 18px;
color: #4F4F4F;
position: absolute;
top: 53px;
left: 17px;
right: 13px;
}

 .bl42 {
    position: absolute;
    box-sizing: border-box;
    width: 350px;
    height: 162px;
    top: 162px;
    left: 580px;
 background: #FFFFFF;   
border: 1px solid #828282;
border-radius: 4px;
 } 
 .bl42 img { 
    position: absolute;
    top: 15px;
    left: 17px;
 } 
 .bl42 h6 {
    position: absolute;
    top: -15px;
    left: 58px;
        font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 19px;
color: #333333;
 }  
 .bl42 svg {
    position: absolute;
    top: 24px;
    right: 13px;
 }
.bl42 p {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 0.875rem;
line-height: 18px;
color: #4F4F4F;
position: absolute;
top: 53px;
left: 17px;
right: 13px;
}

.bl43 { 
    position: absolute;
    box-sizing: border-box;
    width: 350px;
    height: 162px;
    top: 162px;
    left: 970px;
    background: #FFFFFF;   
    border: 1px solid #828282;
    border-radius: 4px;
}
.bl43 img { 
    position: absolute;
    top: 15px;
    left: 17px;
 } 
 .bl43 h6 {
    position: absolute;
    top: -15px;
    left: 58px;
        font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 19px;
color: #333333;
 }  
 .bl43 svg {
    position: absolute;
    top: 24px;
    right: 13px;
 }
.bl43 p {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 0.875rem;
line-height: 18px;
color: #4F4F4F;
position: absolute;
top: 53px;
left: 17px;
right: 13px;
}

.arrowleft {
    position: absolute;
    top: 219px;
    left: 102px;
}
.arrowright {
    position: absolute;
    top: 219px;
    right: 102px;
 } 

.dots {
    position: absolute;
    left: 649px;
    top: 370px;
}

.block5 {
    position: absolute;
width: 100vw;
height: 278px;
left: 0px;
top: 3139px;
background: #FAFAFA;
}
.block5 h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1.75rem;
line-height: 37px;
margin-top: 57px;
color: #333333;
}
.channels {
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block6 {
    position: absolute;
width: 100vw;
height: 483px;
left: 0px;
top: 3418px;
display: flex;
justify-content: space-between;
}
.bl61 {
    width: 46.25vw;
}
.bl62 {
   
    width: 53.75vw;
    height: 100%;
}
.block6 h4 {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1.75rem;
line-height: 37px;

color: #333333;
margin-top: 105px;
margin-left: 77px;
}
.block6 p {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 25px;
width: 35vw;
color: #4F4F4F;
margin-top: 35px;
margin-left: 77px;
}
.block6 .appstore {
    width: 10.84vw;
height: 47px;
border-radius: 7.33503px;
margin-top: 38px;
margin-left: 77px;
}
.block6 .googleplay {
    width: 10.84vw;
    height: 47px;
    border-radius: 7.33503px;
    margin-top: 38px;
    margin-left: 35px;
}

footer {
    position: absolute;
width: 100vw;
height: 127px;
left: 0px;
top: 3902px;
background: #00ADEE;
display: flex;
align-items: center;
justify-content: space-around;
}
.nav a {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 21px;
text-decoration: none;
color: #FFFFFF;
letter-spacing: 0.03em;
padding: 16px;
}
.socials a {
    text-decoration: none;
    padding: 9px;
}

/* MOBILE VIEW */

@media (max-width: 720px) {
  body {
    position: relative;
    width: 360px;
    height: 5952px;
background: #FFFFFF;
margin: 0 auto;} 
header {
    box-sizing: border-box;
     position: absolute;
    width: 360px;
    height: 625px;
    left: 0px;
    top: 0px;
    background: #F4F6F9;
}
.imghd { display: none;}
.back-header { display: none;}
.logo {
position: absolute;
width: 99px;
height: 32px;
top: 32px;
left: 35%;}
.txt h1 {
    position: absolute;
width: 320px;
height: 119px;
left: 20px;
top: 150px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1.875rem;
line-height: 40px;
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 0.03em;
color: #333333;}
.txt p {
    
position: absolute;
width: 320px;
height: 70px;
left: 20px;
top: 302px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 23px;
text-align: center;
color: #4F4F4F;
}
.apphd {
    position: absolute;
width: 145.69px;
height: 44px;
left: 20px;
top: 422px;
background: #000000;
border-radius: 6.85753px;
}
.playhd {
    position: absolute;
width: 145.69px;
height: 44px;
left: 194.31px;
top: 422px;
background: #000000;
border-radius: 6.85753px;
}
.block1 {
    position: absolute;
    width: 360px;
    height: 856px;
}
.block1 span {
    position: absolute;
width: 320px;
height: 22px;
left: 20px;
top: 54px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 21px;
text-align: center;
color: #00ADEE;
}
.block1 h2 {
    position: absolute;
    width: 320px;
    height: 74px;
    left: 20px;
    top: 103px;
        font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 37px;
    text-align: center;
    color: #333333;
}
.block1 p {
    position: absolute;
width: 320px;
height: 208px;
left: 20px;
top: 197px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 23px;
text-align: center;
color: #4F4F4F;
}
.block1 a {
    position: absolute;
width: 320px;
height: 22px;
left: 20px;
top: 424px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 21px;
text-align: center;
color: #00ADEE;
}
.bl1img {
    position: absolute;
width: 360px;
height: 388px;
left: 0px;
top: 468px;
background-image: url(./img/block1.png);
background-size: cover;
z-index: 0;}
.bl1img::after {
    content: "";
    position: absolute;
    width: 360px;
height: 388px;
left: 0px;
top: 0px;
background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
z-index: 1;
}
#arsenal {
    position: absolute;
width: 247.21px;
height: 149.58px;
left: 20px;
top: 70px;
z-index: 3;
border-radius: 2.74531px;
}
#match {
    position: absolute;
width: 247.21px;
height: 149.58px;
left: 92.79px;
top: 198px;
border-radius: 2.74531px;
}
.block2 {
    position: absolute;
    top: 1520px;
    width: 360px;
    height: 430px;
    background-image: none;
}
.block2 span {
    position: absolute;
    width: 320px;
    height: 22px;
    left: 20px;
    top: 62px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 21px;
    text-align: center;
    color: #00ADEE;  
}
.block2 h2 {
position: absolute;
width: 320px;
height: 37px;
left: 20px;
top: 111px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1.75rem;
line-height: 37px;
text-align: center;
color: #333333;
} 
.block2 p {
   
position: absolute;
width: 320px;
height: 208px;
left: 20px;
top: 175px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
text-align: center;
color: #4F4F4F;
}
.block2 a {
 position: absolute;
width: 320px;
height: 22px;
left: 20px;
top: 408px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
text-align: center;
color: #00ADEE;
}
.block2::after { position: absolute;
    content: url(./img/circlemob.png);
    transform: scale(0.4);
    top: 100px;
    left: -440px;
}  

.block3 {
    position: absolute;
width: 360px;
height: 1800px;
left: 0px;
top: 2480px;
background-color: #FAFAFA;
}
.block3::after {display: none;}
.block3 h1 {

width: 318px;
height: 74px;
margin-left: 21px;
margin-top: 43px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1.75rem;
line-height: 37px;
text-align: center;
color: #333333;
}
.grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    box-sizing: border-box;
    width: 360px;
    height: 1650px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0px;
}
.grid p {
    width: 311px;
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 23px;
text-align: center;
color: #4F4F4F;
}
.grid svg { margin-left: 40%;
  
    align-items: center;
    justify-content: center;
}
.icon { fill: #00ADEE;}

.block4 {
position: absolute;
width: 360px;
height: 402px;
left: 0px;
top: 4280px;
background: #FFFFFF;
}
.block4 h4 {
position: absolute;
width: 252px;
height: 37px;
left: 54px;
top: 20px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1.75rem;
line-height: 37px;
color: #333333;
}
.arrowleft { display: none;}
.bl41 { display: none;}
.bl43 { display: none;}
.dots { position: absolute;
left: 121px;
top: 320px;}
.bl42 {
position: absolute;
left: 26px;
top: 126px;
width: 309px;
height: 161px;
}
.arrowright {
    position: absolute;
    top: 180px;
    left: 302px;
}
.block5 {
    position: absolute;
    width: 360px;
    height: 409px;
    left: 0px;
    top: 4657px;
}
.block5 h3 {
    position: absolute;
    width: 320px;
    height: 37px;
    left: 20px;
    top: -10px;
}
.channels {
    position: absolute;
    margin-top: 126px;
    display: inline-block;
    margin-left: 30px;
    box-sizing: border-box;
   width: 80%;
   height: 80%;
}
.channels svg {
 margin-left: 10px; 
 margin-bottom: 10px;
 margin-top: 10px;
}


.block6 {
    position: absolute;
    width: 360px;
    height: 696px;
    left: 0px;
    top: 5000px;
}
.bl62 h4 {
 box-sizing: border-box;   
position: absolute;
width: 320px;
height: 74px;
left: -60px;
top: -20px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1.75rem;
line-height: 37px;
text-align: center;
color: #333333;
} 
.bl62 p {
    
position: absolute;
width: 309.03px;
height: 200px;
left: -60px;
top: 135px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 25px;
text-align: center;
color: #4F4F4F;
}
.block6 .appstore {
    position: absolute;
width: 145.69px;
height: 44px;
top: 355px;
left: -60px;
}
.block6 .googleplay {
    position: absolute;
    width: 145.69px;
height: 44px;
top: 355px;
left: 150px;}
.bl61 img {
    position: absolute;
    left: 0px;
    top: 480px;
    width: 360px;
    height: 261px;
}
footer {
    position: absolute;
    width: 360px;
    height: 210px;
    left: 0px;
    top: 5741px;
}
footer img {
    
position: absolute;
width: 99px;
height: 32px;
left: 25px;
top: 41px;
}
.socials {
    position: absolute;
    width: 100%;
    left: 15px;
}
.socials a {
    padding: 7px;
}
.nav {
    position: absolute;
    width: 100%;
    left: 15px;
    top: 143px;
}
.nav a {
    
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 0.9rem;
line-height: 21px;
color: #FFFFFF;
padding: 8px;
}
}






















   



  







































