header a {
    text-decoration: none;
}
header input {
    background-image: url(search.png);
    background-position-x: 33%;
    background-position-y: 50%;
    background-size: 4%;
    background-repeat: no-repeat;
}
header {
    border-bottom: 1px solid #DBDBDB;
}
.follow {
    width: 97px;
}
.link-primary {
    text-decoration: none;
    }
    .bit {color: #133768;}
.posts { height: 70px;
    border-top: 1px solid #DBDBDB;
}    

.lorem {
    margin: 0;
    padding: 0;
}
.post {
    border-top: 1px solid black;
}

@media (max-width: 1400px){
svg {
    transform: scale(0.7);}
header input{
        margin-left: 0;
        margin-right: 0;
        background-image: none;  }}
  
 
@media (max-width: 768px) {
        .nav {
                flex-direction: column;
                align-items: center;
            } }
 @media (max-width: 576px){
        .first{
            flex-direction: column;
            align-items: center;
        }}
           
        
    
    
   
  